# General
.DS_Store
Thumbs.db
.env
.cache/
.idea/
**/.history/
.github/*.md
.vscode/

# CMake build directories and artifacts
build*/
build-*/
cmake-build-*/
CMakeFiles/
CMakeCache.txt

# Compilation database
compile_commands.json

# Packages and archives
*.helx
*.tar.gz
